.image-magnifier-container {
  position: relative;
}

.magnifier-img {
  width: auto;
  height: 40vh;
}

.magnified-image {
  width: 100px;
  height: 100px;
  border: 2px solid white;
  border-radius: 50%;
}
